<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raster Data Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='data/css/style.css')}}">

    <style> 

    
    .backg {
                
                width: 100%;
                height:500px;
                background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0,0.3)), url('../static/data/img_data/sinkhole_img.jpeg');                
                background-size: cover;
                background-position: center; 
                background-repeat: no-repeat;                                 
        }    
        

    
    </style>
</head>
<body>
    <div class="container-lg mt-3">

        <!-- <h1 class="text-center text-bg-primary mb-4 ">서울특별시 씽크홀 발생위험 예측 </h1> -->
        <img class="img-fluid " style="height: 160px;" src='{{url_for("static", filename="data/img_data/banner_01.png")}}' alt="">
        
        <!-- <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="coordinatesForm" class="form-inline justify-content-center">
                    <div class="form-group mb-2">
                        <label for="latitude" class="sr-only">Latitude</label>
                        <input type="text" class="form-control" id="latitude" placeholder="Latitude" required>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="longitude" class="sr-only">Longitude</label>
                        <input type="text" class="form-control" id="longitude" placeholder="Longitude" required>
                    </div>
                    <button type="button" class="btn btn-primary mb-2" onclick="processCoordiㄴnates()">Submit</button>
                </form>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <div id="chartContainer" class="text-center"></div>
            </div>
        </div> 
     -->
        
    </div> 
    <section class="text-center">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                
                <div class="col-md-6">
                    
                        <div id="map" class="img-fluid" style="width: 100%; height: 500px;"></div>     
                </div>
                <div class="col-md-6">           
                        <div id="chart" class="backg" ></div>    
                </div> 
                
            </div>

            <div class="card mt-1">
                <div class="card-header" style="height: 50px;">
                    <p class="align-middle">예측 결과: 서울특별시 경계지도에서 마우스로 지점을 선택하세요.</p>
                </div>

                <button  id="loading" class="btn btn-warning" type="button" disabled style="display: none;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    PREDICTING...
                </button>

                <div id ="coord"></div>  
                <div id="result" class="card-body" style="height: 120px;">    
                </div>
                              
            </div> 
        </div>   
    </section>
    <section>

        
        

    </section>

    <!-- # 네이버 지도 API 설정S
        CLIENT_ID = 'o5tt3la65'
        CLIENT_SECRET = 'dZTSfdZx45UGPO7igt6IRAiAVZmqbifYwsh23Vey'
        NAVER_MAP_API_URL = 'https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc'

        headers = {
            'X-Naver-Client-Id': CLIENT_ID,
            'X-Naver-Client-Secret': CLIENT_SECRET,
        } -->

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o5tt3la65w&callback=initMap&submodules=visualization"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=o5tt3la65w&submodules=geocoder"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
       
   
    <script>

         var mapOptions = {

            // naver.maps.MapTypeId.NORMAL: 일반 지도 (기본값)
            // naver.maps.MapTypeId.HYBRID: 하이브리드 지도 (위성 사진과 지도 데이터 결합)
            // naver.maps.MapTypeId.SATELLITE: 위성 지도 (실제 위성 사진)
            // naver.maps.MapTypeId.TERRAIN: 지형 지도 (지형 정보 표시)
            zoom: 11,
            mapTypeId: 'normal',
            center: new naver.maps.LatLng(37.5665, 126.9780),
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: naver.maps.MapTypeControlStyle.BUTTON,
                position: naver.maps.Position.TOP_RIGHT
            },
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.SMALL,
                position: naver.maps.Position.TOP_RIGHT
            },
            scaleControl: true,
            scaleControlOptions: {
                position: naver.maps.Position.RIGHT_CENTER
            },
            logoControl: true,
            logoControlOptions: {
                position: naver.maps.Position.TOP_LEFT
            },
            mapDataControl: true,
            mapDataControlOptions: {
                position: naver.maps.Position.BOTTOM_LEFT
            }
        };


        const map = new naver.maps.Map('map', mapOptions);

        // Add click event listener to the map
        naver.maps.Event.addListener(map, 'click', function (e) {

            
            map.setCenter(e.coord);
            map.setZoom(12, true);

            
            infoWindow.close();
            $('#coord').html("")
            $('#result').html("")

            $("#loading").show();


            // Get the clicked coordinates
            var latitude = e.coord.lat();
            var longitude = e.coord.lng();      
            
            

            // Send coordinates to the server
            $.ajax({
                url: '/process_coordinates',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify({'latitude': latitude, 'longitude': longitude}),
                
                success: function(response) {

                    $("#loading").hide();

                    console.log(response.results)

                    if (response.results !==null && response.results == "1등급"){                        
                        $('#result').html('<div ><span class="badge badge-danger">위험</span><h3>씽크홀 발생위험 ' +  response.results + '발생위험확률(' + response.pred_val + ')입니다.</h3></div>');
                    } else if (response.results !==null && response.results == "2등급") {                       
                        $('#result').html('<div ><span class="badge badge-warning">경고</span><h3>씽크홀 발생위험 ' +  response.results + '발생위험확률(' + response.pred_val + ')입니다.</h3></div>');
                    } else if (response.results !==null && response.results == "3등급"){
                        $('#result').html('<div ><span class="badge badge-info">주의</span><h3>씽크홀 발생위험 ' +  response.results + '발생위험확률(' + response.pred_val + ')입니다.</h3></div>');
                    } else if (response.results !==null && response.results == "안전지대"){
                        $('#result').html('<div ><span class="badge badge-success">관심</span><h3>씽크홀 발생위험 안전지대'+ '발생위험확률(' + response.pred_val + ')입니다.</h3></div>');
                    } else {
                        $('#result').html('<div><h3>선택한 지점은 서울시 경계를 벗어났거나 한강입니다. 다시 선택하세요.</h3></div>');
                    }


                    // Check if chart_base64 is defined and not null
                    // if (response.chart_base64 !== undefined && response.chart_base64 !== null) {
                    if (response.chart_img !== null) {
                        // Display the result on the page
                        $('#chart').html('<img src="data:image/png;base64,' + response.chart_base64 + '" alt="Bar Chart" class="img-fluid">');
                        
                    } else {
                        // Handle the case where chart_base64 is undefined or null                       
                        $('#chart').html('<p>선택된 지점은 서울특별시 경계를 벗어났습니다. 다시 선택하세요.</p>');
                    }

                    $('#coord').html('<div style-"padding:10;"><h3>선택된 지점은 경도: '+  longitude + ' 위도: ' +  latitude +'</h3></div>');
                    
                    console.log(e.coord)
                    searchCoordinateToAddress(e.coord);

                    
                }
            });
        });

        naver.maps.Event.once(map, 'init', function () {
        $.ajax({
                url: 'static/data/json_data/seoul_bnd.json',
                dataType: 'json',
                success: startDataLayer
            });
        });
        
        function startDataLayer(geojson) {   
            map.data.addGeoJson(geojson);          
        }


        naver.maps.Event.once(map, 'init_stylemap', function () {
            $.ajax({
                url: 'static/data/json_data/sinkhole_219.json',
                dataType: 'json',
                success: startHeatMap
            });
        });       

        function startHeatMap(data) {

            var position_data = []

            // console.log(data.features.length)

            for (let i = 0; i < data.features.length; i++) {
                console.log(data.features[i].geometry.coordinates)


                const 경도 = data.features[i].geometry.coordinates[0];
                const 위도 = data.features[i].geometry.coordinates[1];

                console.log(위도, 경도)

                position_data.push(
                    new naver.maps.LatLng(위도, 경도) 
                )          

            }  
            
            console.log(position_data)

            var heatmap = new naver.maps.visualization.HeatMap({
                map: map,
                data: position_data
            });
        }

        var seoul = new naver.maps.LatLngBounds(
        new naver.maps.LatLng(37.42829747263545, 126.76620435615891),
        new naver.maps.LatLng(37.7010174173061, 127.18379493229875));

        //map.fitBounds(seoul); // 좌표 경계 이동
        // map.panBy(new naver.maps.Point(10, 10)); // 오른쪽 아래로 10 픽셀 이동

        ///////////////////좌표로 주소로 변환하는 코드///////////////////////////////     
        
        var infoWindow = new naver.maps.InfoWindow({
            anchorSkew: true
        });

        map.setCursor('pointer');      
        
        
        // naver.maps.Service.reverseGeocode({
        // coords: new naver.maps.LatLng(37.3595316, 127.1052133),
        // }, function(status, response) {
        //     if (status !== naver.maps.Service.Status.OK) {
        //         return alert('Something wrong!');
        //     }

        //     var result = response.v2, // 검색 결과의 컨테이너
        //         items = result.results, // 검색 결과의 배열
        //         address = result.address; // 검색 결과로 만든 주소

        //     // do Something
        // });        

        function searchCoordinateToAddress(latlng) {

            infoWindow.close();

            naver.maps.Service.reverseGeocode({
                coords: latlng,
                orders: [
                    naver.maps.Service.OrderType.ADDR,
                    naver.maps.Service.OrderType.ROAD_ADDR
                ].join(',')
            }, function(status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    return alert('Something Wrong!');
                }

                var items = response.v2.results,
                    address = '',
                    htmlAddresses = [];

                for (var i=0, ii=items.length, item, addrType; i<ii; i++) {
                    item = items[i];
                    address = makeAddress(item) || '';
                    addrType = item.name === 'roadaddr' ? '[도로명 주소]' : '[지번 주소]';

                    htmlAddresses.push((i+1) +'. '+ addrType +' '+ address);
                }

                infoWindow.setContent([
                    '<div style="padding:5px;min-width:100px;line-height:100%;">',
                    '<h6 style="margin-top:1px;">검색 좌표</h6><br />',
                    htmlAddresses.join('<br />'),
                    '</div>'
                ].join('\n'));

                infoWindow.open(map, latlng);
            });
        }

        function makeAddress(item) {
            if (!item) {
                return;
            }

            var name = item.name,
                region = item.region,
                land = item.land,
                isRoadAddress = name === 'roadaddr';

            var sido = '', sigugun = '', dongmyun = '', ri = '', rest = '';

            if (hasArea(region.area1)) {
                sido = region.area1.name;
            }

            if (hasArea(region.area2)) {
                sigugun = region.area2.name;
            }

            if (hasArea(region.area3)) {
                dongmyun = region.area3.name;
            }

            if (hasArea(region.area4)) {
                ri = region.area4.name;
            }

            if (land) {
                if (hasData(land.number1)) {
                    if (hasData(land.type) && land.type === '2') {
                        rest += '산';
                    }

                    rest += land.number1;

                    if (hasData(land.number2)) {
                        rest += ('-' + land.number2);
                    }
                }

                if (isRoadAddress === true) {
                    if (checkLastString(dongmyun, '면')) {
                        ri = land.name;
                    } else {
                        dongmyun = land.name;
                        ri = '';
                    }

                    if (hasAddition(land.addition0)) {
                        rest += ' ' + land.addition0.value;
                    }
                }
            }

            return [sido, sigugun, dongmyun, ri, rest].join(' ');
        }


        function hasArea(area) {
                return !!(area && area.name && area.name !== '');
            }

            function hasData(data) {
                return !!(data && data !== '');
            }

            function checkLastString (word, lastString) {
                return new RegExp(lastString + '$').test(word);
            }

            function hasAddition (addition) {
                return !!(addition && addition.value);
        }
    
    </script>
</body>
</html>