@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}

.myfont {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;      
}


.coord_result{

    display: flex;
    align-items: center;    
    justify-content: space-around;
   
}



@media (max-width: 600px) {
    .resp {
      font-size: 20px;
    }
    .resp1 {
        font-size: 8px;        
       
     }
    .coord_result{
        display: block;
        margin-top: 20px;
    }
    

    div.card-header.myfont{
        height: 80px;
    }  
    
    .backg{
        width: 100%;
        height: 500px;
    }
    
  }

